


.primary-btn{
    background-color: #e6324b;
    color: white;
}

.primary-btn:hover{
    background-color: #800011;
    color: white;
}

.arrow-btn{
    position: absolute;
    right: 22px;
    bottom: 4px;
    color: #ffc6a5;
    font-size: 2rem;
    background-color: transparent;
    border: none;
}
.arrow-btn:hover{
    transition: all .2s ease-in-out;
    transform: rotate(-15deg) translate(8px);
    filter: drop-shadow(12px 5px 5px #2b2b2b);
    color: #ffc6a5;
}

.ai-image:hover{
    transition: all .3s ease-in;
    transform: scale(1.3) translateY(15px);
    box-shadow: 0px 2px 8px rgb(43, 43, 43, 0.8);
}

.features-list{
    margin-left: 20px;
    margin-bottom: -15px;
}

.modal-btn{
    background-color: #e6324b;
    color: #ffc6a5;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: -16px;
    top:-16px
}


.price-btn{
    width: 5rem;
    height: 5rem;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.price-btn .plans{
    font-size: 16px;
}
.price-btn p{
    padding-top: 15px;
    font-size: 10px;
    font-weight: 700;
}

.btn-badge{
    position: absolute;
    right: 65px;
    top: 80px;
    /* padding: 5px ; */
}